#search-jumbotron {
  background: url("https://wallpapercrafter.com/desktop/23551-skyscrapers-night-city-view-from-above-4k.jpg");
  background-size: 100%;
  background-position-y: 5%;
}

.jumbotron-box {
  height: 320px;
}
