<header class="d-flex flex-wrap justify-content-center py-3 px-4" style="">
  <a href="/" class="d-flex align-items-center me-md-auto text-white text-decoration-none fw-semibold">
    <span class="fs-4">Exvention Party</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="" class="nav-link" [class.active]="isActive('/')">เลือกตั้ง 66</a></li>
    <li class="nav-item"><a routerLink="policies" class="nav-link" [class.active]="isActive('/policies')">นโยบายพรรค</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link">ผู้สมัคร ส.ส.</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link">ผู้สมัครนายก</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
